{% liquid
  assign collection_name = card_collection.title | downcase | replace: ' ', '-'
  assign src_url = ''

  case collection_name
    when 'classic-wood'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__classic-wood.png?v=1665628487'
    when 'credenzas-on-wheels'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__wheels.png?v=1665676009'
    when 'industrial'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__furnace.png?v=1665428664'
    when 'lamps'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__lamps.png?v=1665677861'
    when 'modern'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__modern.png?v=1666111981'
    when 'office'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__office.png?v=1665628052'
    when 'retro-statement'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__sacred-geometry.png?v=1665428360'
    when 'smalls'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__stacks.png?v=1665426694'
    when 'vibes'
      assign src_url = 'https://cdn.shopify.com/s/files/1/0620/0786/9604/files/collection-image__sunburst.png?v=1665428175'     
  endcase
%}

<a href="{{ card_collection.url }}" class="credenza-collection__card">
  <div class="credenza-collection__img-container">
    <img
      class="credenza-collection__img"
      height="{{ card_collection.featured_image.height }}"
      width="{{ card_collection.featured_image.width }}"
      loading="lazy"
      src="{{ src_url }}"
    />
    <div class="credenza-collection__img-floor">
      <span class="credenza-collection__card__title">{{ card_collection.title }}</span>
    </div>
  </div>
</a>